*{
    background-color: black;
}

.bubble{
  position: absolute;
  bottom: 0px;
  background: radial-gradient(circle at 30% 30%, #faf74d 40%, #ffe600 100%);
  border-radius: 50%;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,0.3), inset 0 0 30px 0 rgb(58, 58, 1);
  animation: rise infinite linear;
}

.bubble::after{
  content: "";
  position: absolute;
  top: 20%;
  left: 25%;
  width: 30%;
  height: 20%;
  background: rgba(255, 255, 255, 0.61);
  border-radius: 50%;
  filter: blur(2px);
  pointer-events: none;
}

@keyframes rise{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100vh);
  }
}

